.product-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 50px;
  max-width: 550px;
  border-left: 1px rgba(0, 0, 0, 0.261) solid;
  border-right: 1px rgba(0, 0, 0, 0.261) solid;
  /* padding: 10px 60px;
  margin: 0% 30%; */
  /* text-align: center; */
}

.product-detail-image {
  height: auto;
  max-height: 300px;
  min-width: 100%;
  vertical-align: bottom;
  overflow: hidden;
}

.product-detail-item-name-container {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

.product-detail-item-name {
  flex-direction: column;
  margin-top: 25px;
  width: 50%;
}

.product-detail-item-price-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 25px;
}

.product-detail-item-description {
  padding: 0px 20px;

}

.product-detail-item-availability {
  padding-top: 13px;
}
