.forms {
  border: 1px black solid;
  padding: 30px;
  margin: 5% 25%;
  text-align: center;
  
}

.form {
  padding: 10px;
}

/* .img-form {
display:none
} */


/* .img-field input{
  display:none
}

.img-field-input {
  display:none;
}

.img-field-label {
  display:none;
} */